
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */

.secondary_bg{
    background-color: #FFF8F3;
}
.text_primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section_title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section_description{
    width: 910px;
    font-size: 18px;
    color: #757575;
}

/* header styles */

.header{
    background-image: url('../images/developer.png'), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav_title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
}
.text_alingnment{
    text-align: center;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
    align-items: center;
}
.banner_content{
    max-width: 585px;
}
.banner_greetings{
    font: 45px;
    font-weight: 600;
    margin: 0;
}
.banner_title{
    font-size: 70px;
    font-weight: bold;
    margin: 0;
}
.banner_description{
    margin: 0;
    margin-bottom: 20px;
}
.banner_profile_picture{
    width: 584px;
}


/* About Section  */

.about_main{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 130px 150px;
    margin: 130px;
}

.about{
    background-color: white;
    border: 1px solid black;
    text-align: center;
}
.about_items{
    display: flex;
    justify-content: space-around;
}
.item_description{
    font-weight: bold;
}
.item_title{
    margin-bottom: 0px;
}
.item_description{
    margin-top: 5px;
}

/* What I will do section  */
.what_i_do_title_and_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* Skills Section styles */
.skills{
    margin-bottom: 130px;
}

.skills_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.skill{
    padding: 10px;
    width: 265px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.105);
    border-radius: 5px;
}

/* Resume Section  */

.resume_container{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.resume_column{
    width: 510px;
}
.experience_subtitle{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience_description{
    color: #757575;
}

.resume_download_cv_container{
    margin-top: 50px;
}

/* footer section  */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer_column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
footer textarea{
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

/* mobile device */

@media screen and (max-width:576px) {
    .header{
        background-image: none;
    }
    nav{
        flex-direction: column;
    }
    /* nav > ul{
        flex-direction: column;
        gap: 10px;
    } */
    .banner_profile_picture{
        width: 100%;
    }
    .banner{
        flex-direction: column;
        margin: 20px;
    }
    .btn-primary{
        margin-bottom: 10px;
    }
    .about_main{
        margin: auto;
        padding: 2px;
    }
    .about_items{
        flex-direction: column;
    }
    .section_description{
        padding: 0 10px;
        width: calc(100% - 20px);
    }
    .skills_container{
        flex-direction: column;
    }
    .skill{
        width: 90%;
    }
    .resume_container{
        flex-direction: column;
        gap: 0px;
    }
    .resume_column{
        width: 100%;
    }
    footer{
        flex-direction: column;
        padding: 20px;
    }
    .footer_column{
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"]{
        width: calc(100% - 40px);
    }
    footer textarea{
        width: calc(100% - 40px);
    }
}

/* tablet device  */

@media screen and (min-width:576px) and (max-width:992px){
    .banner{
        flex-direction: column;
    }
}